/* $Id: ud_regions.css,v 1.1.2.3 2010/05/31 12:16:35 swentel Exp $ */

.ud-region-header {
  clear: both;
}

.ud-region-left {
  display: inline;
  float: left;
}

.ud-region-middle-wrapper {
  display: inline;
  float: left;
  width: 100%;
  margin-right: -100%;
}

.ud-region-right {
  display: inline;
  float: right;
}

.ud-region-footer {
  clear: both;
}

/* default region dimensions */

.ud-region-left {
  width: 25%;
}

.ud-region-right {
  width: 25%;
}

/* middle region */

.ud-no-sidebars .ud-region-middle {
}

.ud-sidebar-left .ud-region-middle {
  margin-left: 25%;
}

.ud-sidebar-right .ud-region-middle {
  margin-right: 25%;
}

.ud-two-sidebars .ud-region-middle {
  margin-left: 25%;
  margin-right: 25%;
}

/* Fix for IE */
.ud-no-sidebars {
  display:block;
  float:none;
  margin-right:0;
  width:auto;
}

.ud-sidebar-right {
  *display: inline;
  *float: right;
  *width: 100%;
  *margin-left: -100%;
}