.uc-discounts-cart-pane-container {
  border-left: 1px solid #BBBBBB;
  border-right: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  text-align: right;
  width: 100%;
}

.uc-discounts-cart-pane-table {
  text-align: right;
  width: 100%;
}

.uc-discounts-cart-pane-table-cell {
  width: 100%;
}

#uc_discounts_table td.date,
#uc_discounts_table td.operations {
  white-space: nowrap;
}

#uc_discounts_table td.operations a {
  padding-right: 5px;
}

#uc_discounts_table td.amount,
#uc_discounts_table td.weight {
  text-align: center;
}

#uc_discounts_table td.is_inactive,
#uc_discounts_table td.is_active {
  text-align: center;
  font-weight: bold;
  color: green;
}

#uc_discounts_table td.is_inactive {
  color: red;
}
