/* $Id: dblog_clear.css,v 1.1.2.1 2009/10/09 19:45:26 nancyw Exp $ */

.form-submit {
  color: #009900;
  font-weight: bold;
  padding: 0.1em 1em;
}

.form-submit.warning {
  color: #cc0000;
  padding: 0.1em 0.3em;
}

