/* $Id: edit-links.css,v 1.1.2.4 2009/05/19 19:23:54 jmburnz Exp $ */

/**
 * @file edit-links.css
 * Style edit links for blocks and views.
 */
div.block{position:relative;}
div.block div.block-edit{font-size:.9em;position:absolute;right:0;top:0;visibility:hidden;z-index:40;}
div.block:hover div.block-edit{display:block;font-family:Arial,Helvetica,"Nimbus Sans",sans-serif;visibility:visible;}
div.block div.block-edit a{text-decoration:none;color:#ccc;}
div.block div.block-edit a:before{content:"[";}
div.block div.block-edit a:after{content:"]";}
div.block div.block-edit a:hover{color:#000;background:#FFF;}
div.block div.block-edit li{display:inline;float:left;list-style:none;margin:0 0 0 .5em;}
div.view div.views-admin-links{font-size:.85em;}
.block div.view div.views-admin-links{margin-top:1.8em;}
#main-content div.view div.views-admin-links{margin-top:-.8em;}
div.view div.views-admin-links li a{text-decoration:none;width:5em;}
div.view div.views-admin-links li a:hover{color:#000;background:#FFF;}
div.view div.views-admin-links-hover a,div.view div.views-admin-links:hover a{color:#CCC;}