div.ajax-cart-msg
{
	padding : 5px ;
	padding-left : 20px ;
	width	: 200px ;
	margin-top	: 25px ;
	background-repeat : no-repeat ;
	background-position : left center ;
	background-image : url(../images/wait.gif);
}

#ajaxCartUpdate.dropHover
{
	border : 1px solid black !important;
}
#ajaxCartUpdate.dropActive
{
	border : 1px dashed black;
}