/* $Id $

/**
 * @file
 * Adds a clearing function to "Recent log" report.
 */

#dblog-admin-buttons input#edit-clear {
  margin-left: 2em;
  color: #cc0000;
  font-weight: bold;
}/* */

/* #dblog-admin-buttons input#edit-submit {
  margin-right: 1em;
  color: #009900;
  font-weight: bold;
} /* */
