/* $Id: uc_out_of_stock.css,v 1.2 2009/04/15 14:38:53 hanoii Exp $ */

/* Animated throbber */
html.js .uc_out_of_stock_throbbing {
  background-image: url(throbber.gif);
  background-repeat: no-repeat;
  background-position: left 3px;
}
html.js .uc_out_of_stock_throbbing.uc_oos_throbbing {
  background-position: left -17px;
}